<!DOCTYPE html>
<html>
  <head>
    <title>Plan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'logout',  destroy_user_session_path, method: :delete %>
    <%= link_to "投稿ページ", posts_path%>
    <%= link_to "暗証番号ページ", pins_path%>

    <%= yield %>
  </body>
</html>
